<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                    <form method="post" action="/">
                        <div>
                            <input autofocus placeholder="Name" autocomplete="off" type="text" name="name">&nbsp
                            <input autofocus placeholder="Month" autocomplete="off" type="number" max="12" name="month">&nbsp
                            <input autofocus placeholder="Day" autocomplete="off" type="number" max="31" name="day">&nbsp
                            <button type="submit" id="submit">Add Birthday</button>
                        </div>
                    </form>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
            </div>

            <div class="section">
                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for birthday in birthdays %}
                            <tr>
                                <td>{{birthday.name}}</td>
                                <td>{{birthday.day}}/{{birthday.month}}</td>
                            </tr>
                        {% endfor %}
                        <!-- TODO: Loop through the database entries to display them in this table -->
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
