{% extends "layout.html" %}
{% block main %}

      <style>
        .div {
          text-align: center;
          padding: 40px 0;
          background: #EBF0F5;
          height: 100vh;
          width: 100vw;
        }
          .h1 {
            color: #88B04B;
            font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
            font-weight: 900;
            font-size: 40px;
            margin-bottom: 10px;
          }
          .p {
            color: #404F5E;
            font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
            font-size:20px;
            margin: 0;
          }
        .checkmark {
          color: #9ABC66;
          font-size: 100px;
          line-height: 200px;
          margin-left:-15px;
        }
        .card {
          background: white;
          padding: 60px;
          border-radius: 4px;
          box-shadow: 0 2px 3px #C8D0D8;
          display: inline-block;
          margin: 0 auto;
        }
      </style>

    <div class="div">
        <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
          <i class="checkmark">✓</i>
        </div>
          <h1 class="h1">{{heading}}</h1>
          <div class="mb-3">
            <p class="p">{{top}}<br/>{{bottom}}</p>
          </div>
          <form action="/">
            <button class="btn btn-success" type="submit">Continue</button>
          </form>
        </div>

    </div>

{% endblock %}